/* .header_content {
    grid-row-gap: 20px;
    flex-direction: column;
    display: flex;
    padding-top: 150px;
    padding-bottom: 100px;
}

.header_content h2 {
    font-size: 48px;
    line-height: 1.3;
    font-family: "Montserrat", Arial, sans-serif;
    font-weight: bold;

}

.header_content p {
    color: rgba(20, 50, 61, .7);
    font-size: 16px;
    line-height: 1.6;
    font-family: "Montserrat", Arial, sans-serif;
    font-size: 16px;

}


.header .img_avatar {
    padding-left: 100px;
} */
/* .header .image_logo {
    position: fixed;
    background-color: #fffffb;
} */
html {
    scroll-behavior: smooth;
}

.footer_logo {
    width: 40%;
    margin-bottom: 20px;
}

.header .image_logo {
    width: 20%;
}


.home-background {
    background-image: url(../images/Fotolia_126016889_S.jpg);
    background-size: cover;
    letter-spacing: 1px;
    overflow: hidden;
    min-height: 151px;
    padding: 200px 0 200px 0;
    margin-bottom: 3px;

}

.home-background .hero-content {
    background-color: #fffffb;
    border-radius: 10px;
    box-shadow: 10px 10px 0px 0px rgba(0, 0, 0, .3);
}

.home-background .hero-content h1 {
    color: #f15a29;
    padding: 30px 150px 15px 150px;
    font-size: 40px;
    font-weight: bold;
}

.home-background .hero-content p {
    color: #242424;
    font-size: 20px;
    padding: 0px 100px 40px 100px;
}

.home-background button {
    background-color: #f15a29;
    padding: 6px 20px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    margin-top: 70px;
    border: 1px solid #f15a29;

}

.home-background button:hover {
    background-color: #f15a29;
    padding: 6px 20px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    margin-top: 70px;
    border: 1px solid #f15a29;

}

/* ---------- */


/* .coursefeaturecontent {
    grid-column-gap: 100px;
    grid-row-gap: 36px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    display: flex;
}

.section {
    flex-direction: row;
    align-items: center;
    padding: 120px 80px;
    display: flex;
    overflow: hidden;
}

.section.coursedetailsfeatures {
    grid-row-gap: 40px;
    background-color: #14323d;
    flex-direction: row;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 60px;
}

.coursefeaturecontent h2 {
    letter-spacing: -.005em;
    margin-top: 0px;
    margin-bottom: 0;
    font-size: 40px;
    font-weight: 600;
    line-height: 150%;
    font-family: "Montserrat", Arial, sans-serif;
}

.wrapper.coursedetailfeature {
    width: 100%;
    grid-row-gap: 40px;
    flex-direction: column;
    flex: 0 auto;
    display: flex;
}

.coursefeatures {
    grid-column-gap: 0px;
    grid-row-gap: 25px;
    flex-direction: row;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    display: grid;
}

.feature {
    grid-column-gap: 20px;
    background-color: #fff;
    border: 1px solid #f0f0f0;
    border-radius: 16px;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    display: flex;
}

.iconblock.no4 {
    background-color: #f6ecff;
}

.iconblock {
    background-color: #ffe5e4;
    border-radius: 16px;
    padding: 8px;
}

.iconblock.no2 {
    background-color: #e6ffd0;
}

.feature.inverted {
    width: 220px;
    background-color: rgba(255, 255, 255, .12);
    border: 1px solid rgba(255, 255, 255, .08);
}

.inverted {
    color: #fff;
}

.featureheading {
    color: #fff;
}

.featureicon {
    width: 40px;
    height: 40px;
}

.featurecontent {
    flex: 1;
}

.featuretitle {
    color: #fff;
    letter-spacing: -.013125em;
    font-size: 16px;
    font-weight: 600;
}

.featuresubtitle.course {
    color: rgba(255, 255, 255, .8);
}

.iconblock.no5 {
    background-color: #ebebff;
}

.iconblock.no6 {
    background-color: #f8ffe2;
}

.line._8 {
    width: auto;
    min-width: 100%;
    background-color: rgba(240, 240, 240, .08);
    margin: 50px 0 50px 0;
}

.line {
    height: 1px;
}

.work-at {
    grid-column-gap: 24px;
    grid-row-gap: 20px;
    flex-direction: row;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;
}

.body-2.medium._70.white {
    flex: 0 auto;
    color: rgba(255, 255, 255, .7);
}

.logogrid.coursedetails {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    flex: 1;
}

.logogrid {
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.w-layout-grid {

    grid-auto-columns: 1fr;
    display: grid;
}

.shopee.i {
    width: 99.93px;
    height: 32.4688px;
}

.lozilarge.i {
    width: 68.23px;
    height: 23.3906px;
}

.momolarge.i {
    width: 42.91px;
    height: 40.9063px;
}

.amanoteslarge.i {
    width: 33.83px;
    height: 44.2656px;
}

.fptlarge.i {
    width: 61.52px;
    height: 37.7031px;
}

.employmentherolarge.i {
    width: 80.36px;
    height: 43.9219px;
} */




/* ********section 3************* */
.session3 {
    width: 100%;
    height: auto;
}

.section3 {
    background-color: #fafafa;
    padding: 100px 0 100px 0;
}


.section3 .title h3 {
    font-size: 60px;
    line-height: 1.2;
}

.image_background .background {
    background-color: rgb(210, 2, 2);
    margin-top: 30px;
    padding: 20px 0 30px 0;
    box-shadow: 0px 15px 20px -15px #000;

}

.image_background .background .background_title h3 {
    color: rgb(255, 255, 255);
    font-size: 20px;
    line-height: 1.6;

}

/*
.section3 .form {
    border-style: solid;
    border-color: rgb(210, 2, 2);
    border-width: 5px;
    border-radius: 42px;
    box-shadow: 0px 27px 28px -23px #000;
    margin-top: 30px;
    position: relative;
}

.section3 .form img {
    border-radius: 42px;
}

.section3 .form .form-add {
    border-style: dashed;
    border-color: rgb(210, 2, 2);
    border-width: 2px;
    border-radius: 42px;
    background-color: #fff;
    position: absolute;
    margin: 15px;
    top: 0px;
    filter: drop-shadow(rgb(0, 0, 0) 0px 5px 7px);
}

.section3 .form .form-add h3 {
    position: absolute;
    left: 200px;
    top: 0;
    margin-top: 10px;
    color: rgb(0, 0, 0);
    font-size: 30px;
    text-align: center;
    line-height: 1.6;
    border-bottom: 5px solid rgb(0, 0, 0);

}


.section3 .form .form-add .form-item {
    padding: 10px 250px 10px 10px;
    border-style: solid;
    border-color: rgb(176, 119, 10);
    border-width: 2px;
    border-radius: 13px;
    margin: 7px;
}

.section3 .form .form-add form {
    margin-top: 70px;
    margin-left: 20px;
}

.section3 .form .form-add button {
    background: linear-gradient(180deg, #e52d27, #b31217);
    color: rgb(255, 255, 255);
    font-size: 29px;
    font-weight: bold;
    text-align: center;
    line-height: 1.6;
    border-radius: 67px;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: 163px;

} */




/* ********section 3************* */
.section1 {
    padding: 100px 0 100px 0;
}

.section1 .content {
    font-weight: 300;
    line-height: 1.8em;
    background-color: #eaeaea;
    border-radius: 10px;
    overflow: hidden;
    min-height: 143px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    font-size: 20px;
    margin-top: 20px;
}

.section1 p {
    padding: 0 30px;
}

/* ======section2=========== */
.section2 .content p {
    font-style: italic;
    font-size: 18px;
    margin: 15px 0;
}

.section2 .content ul li {
    font-size: 18px;
    color: #242424;
    margin-top: 10px;
}

.section2 .content ul li i {
    margin-right: 10px;
}

/* ======section2=========== */

/* ------------section4------------- */
.section4 {
    padding: 100px 0 100px 0;
    background-color: #fafafa;
}

.section4 .title h3 {
    line-height: 1.2;


}


.section4 .list_reason {
    margin-top: 30px;

}

.image_reason {
    margin-top: 50px;
}

.section4 .list_reason li {
    grid-column-gap: 28px;
    background-color: #fff;
    border-radius: 24px;
    align-items: center;
    padding: 10px;
    display: flex;
    box-shadow: 0 1px 2px 2px rgba(0, 0, 0, .01), 0 1px 12px 4px rgba(0, 0, 0, .04);
    margin-top: 10px;
    color: rgb(148 163 184);

}

.section4 .list_reason li i {
    color: #f15a29;
}





/* ------------section4------------- */

.section5 {
    padding: 100px 0 100px 0;
}

.information {
    margin-top: 30px;
}

.section5 .box:hover {
    transform: scale(1.1);
}

.information h4 {
    font-weight: 600;
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: rgb(22 28 45);
}

.information h4 i {
    color: #f15a29;
    margin: 0 12px 0 0;
}

.information p {
    line-height: 1.625;
    font-family: "Montserrat", Arial, sans-serif;
    color: #080823;
    font-size: 16px;
    max-width: 34rem;

}

.information .box {
    grid-column-gap: 28px;
    background-color: #fff;
    border-radius: 24px;
    align-items: center;
    padding: 20px;
    box-shadow: 0 1px 2px 2px rgba(0, 0, 0, .01), 0 1px 12px 4px rgba(0, 0, 0, .04);
    margin-top: 40px;
    transition: all 0.3s;
}

/* --------section 6---------- */
.section6 {
    padding: 100px 0 100px 0;
}

.section6 {
    background-color: #fafafa;
}

.section6 .title {
    margin-top: 40px;
}

.section6 .title h4 {
    font-style: italic;
    font-weight: 700;
    font-family: "Montserrat", Arial, sans-serif;
}

.section6 .title p {
    margin-top: 15px;
    line-height: 1.625;
    font-size: 18px;
    max-width: 34rem;
    font-family: "Montserrat", Arial, sans-serif;
}


/* --------section 6---------- */

.section7 {
    padding: 100px 0 100px 0;
}

.section7 h3 {
    font-weight: bold;
    font-family: "Montserrat", Arial, sans-serif;
}

.section7 .item {

    background-color: #fff;
    border-radius: 24px;
    align-items: center;
    padding: 20px;
    box-shadow: 0 1px 2px 2px rgba(0, 0, 0, .01), 0 1px 12px 4px rgba(0, 0, 0, .04);
    margin-top: 10px;
    transition: all 0.3s;
}

.section7 .item:hover {
    transform: scale(1.1);
}

.section7 .item .icon i {
    color: #f15a29;
    font-size: 40px;
}

.section7 .item .icon {
    text-align: center;
    margin-bottom: 10px;
}

.section7 .item p {
    font-family: "Montserrat", Arial, sans-serif;
    text-align: left;
    font-size: 18px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    line-height: 1.5em;
}

.section7 h4 {
    font-weight: 700;
    font-family: "Montserrat", Arial, sans-serif;
    text-align: center;
    color: #080823;
    font-size: 18px;
    padding-bottom: 10px;
    line-height: 1em;
}

.section7 .title {
    font-family: "Montserrat", Arial, sans-serif;
    text-align: center;
    font-size: 18px;

}

/* +++++SECTON8+++++++++++ */
.section8 {
    padding: 20px 0 100px 0;
    background-color: #fafafa;
}

.section8 h3 {
    padding-bottom: 30px;
}

.section8 .item {}

/* +++++SECTON8+++++++++++ */

/* --------section9--------- */
.section9 {
    padding: 20px 0 100px 0;
}

.section9 .content p {
    margin-top: 15px;
}

.section9 .title h4 {
    border-bottom: 2px solid #f15a29;
}


/* --------section9--------- */

/* section10 */
.section10 .item {
    grid-column-gap: 28px;
    background-color: #fff;
    border-radius: 24px;
    align-items: center;
    padding: 10px;
    box-shadow: 0 1px 2px 2px rgba(0, 0, 0, .01), 0 1px 12px 4px rgba(0, 0, 0, .04);
    margin-top: 10px;
    height: 180px;
}

.section10 {
    padding: 20px 0 100px 0;
}

.section10 .icon {
    background-color: #f15a29;
    color: #fff;
    border-radius: 50%;
    position: absolute;
    font-size: 30px;
    padding: 10px 15px;
    top: 160px;
    left: 40%;
}

.section10 .icon2 {
    background-color: #f15a29;
    color: #fff;
    border-radius: 50%;
    position: absolute;
    font-size: 30px;
    padding: 10px 18px;
    top: 160px;
    left: 40%;
}

.section10 .col-lg-3 {
    position: relative;
}

/* section10 */

/* --------section11------- */
.section11 {
    padding: 20px 0 100px 0;
    background-color: #fafafa;
}

.section11 h1 {
    font-size: 40px;
}

.section11 p {
    font-size: 18px;
    line-height: 1.5;
    padding-left: 10px;
}

.section11 .icon {
    align-items: center;
}

.section11 i {
    font-size: 20px;
    color: #f15a29;
}


/* --------section11------- */

/* section12 */
h1 {
    font-size: 40px;
    font-weight: 100;
}

.time .item {
    position: relative;
    background-image:
        repeating-linear-gradient(to right bottom, #7a7a7a 0px, #7a7a7a 1px, transparent 1px, transparent 8px);
}

.time {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    column-gap: 20px;
    grid-template-rows: 100px;
    justify-content: space-evenly;
}

#day,
#hour,
#minute,
#seconds {
    font-size: xxx-large;
    font-weight: bold;
}

.time .item::before,
.time .item::after {
    position: absolute;
    width: 6px;
    height: 20px;
    content: '';
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
}

.time .item::after {
    left: unset;
    right: 0;
}

.section12 .box {
    background-color: #fff;
    border-radius: 24px;
    align-items: center;
    box-shadow: 0 1px 2px 2px rgba(0, 0, 0, .01), 0 1px 12px 4px rgba(0, 0, 0, .04);
    margin-top: 55px;
    padding: 20px;

}

.section12 form {
    background-color: gainsboro;
    border: 30px solid #fff;
}

.section12 {
    padding: 50px 0 100px 0;
}

.section12 form button {
    background-color: #f15a29;
    padding: 6px 20px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    margin-top: 70px;
    border: 1px solid #f15a29;

}

.section12 form input {
    padding: 10px 30px 10px 10px;
    margin-left: 10px;
    border: 0;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.section12 .box {
    font-size: 20px;
}

.footer {
    background-color: #141449;
    color: #fff;
    padding: 50px 0 10px 0;
}

.footer .line_8 {
    width: auto;
    min-width: 100%;
    background-color: rgba(255, 255, 255, 0.08);
    height: 1px;
    margin: 70px 0;
}











@media (max-width: 576px) {
    .header .image_logo {
        width: 50%;
    }

    .home-background .hero-content h1 {
        font-size: 30px;
        padding: 6px;
        padding-top: 20px;
    }

    .home-background .hero-content p {
        font-size: 16px;
        padding: 23px;
    }

    .section2 .col-5 {
        width: 100%;
    }

    .section2 .col-7 {
        width: 100%;
        padding-top: 20px;
    }

    .section10 .item {

        padding: 2px;
        margin-top: 25px;
    }

    .image_background .background {
        width: 214%;
    }

    .section7 h3 {
        font-size: 20px;
    }

    .section12 .col-6:nth-child(2) {
        width: 100%;
        padding-top: 60px;
    }
}

/* ============================================= */
@media (max-width:768px) {
    .header .image_logo {
        width: 50%;
    }

    .home-background .hero-content h1 {
        font-size: 30px;
        padding: 6px;
        padding-top: 20px;
    }

    .home-background .hero-content p {
        font-size: 16px;
        padding: 23px;
    }

    .section2 .col-5 {
        width: 100%;
    }

    .section2 .col-7 {
        width: 100%;
        padding-top: 20px;
    }

    .section10 .item {

        padding: 2px;
        margin-top: 25px;
    }

    .image_background .background {
        width: 214%;
    }

    .image_background .background img {
        width: 95%;
    }


    .section7 h3 {
        font-size: 20px;
    }

    .section12 .col-6:nth-child(2) {
        width: 100%;
        padding-top: 60px;
    }
}

/* ================== */
@media (max-width:992px) {
    .home-background .hero-content h1 {
        font-size: 30px;
        padding: 20px;
    }

    .section2 .col-5 {
        width: 100%;
    }

    .section2 .col-7 {
        width: 100%;
        padding-top: 20px;
    }

    .section4 .image_reason img {
        width: 100%;
    }

    .section10 .icon {
        left: 45%;
    }

    .section10 .icon2 {
        left: 45%;
    }

    .section10 .item {

        margin-top: 28px;
    }

    .section12 .col-6:nth-child(2) {
        width: 100%;
        padding-top: 60px;
    }

    .section9 .col-6:nth-child(2) {
        width: 100%;

    }

    .image_background .background img {
        width: 95%;
    }
}